<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSXpNRFl4TnpFMU5USTEKTVZvWERUTXpN
	RFl4TkRFMU5USTFNVm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUtKOExNaVRwN0Z1SDlCTTdVeDJEUEdxMWxOK05NSDBpNm40ZUN2MkRn
	TGxzM0lEWTZoSDJnMGE3SEZ3CnRSVVpGZThJVThHRy8wUjNwNkJpemo0VjhCeHBwNUhm
	WlE1MHdEUmpKc3ZndlVEZG1TSGZhWHpEaGQzUnFFR2QKZzNWTVlrR2FsZllHYXBRVHg0
	aGh5Rkw1b3BIQzc4dU5nNlg0M2VTeExhSG1xMnJmbFlOUmR0NVhwdUxNNHc1bAp2alJW
	WExrRDF2c01YZjcwWnB4cTk1ckFjcGRablRhcUxIVnpDRVl3aVJWYkZXelk5N0tUTjBG
	cElubzlBTkNDCm5vL2JMdFV6M1RHd1lJN0NoT2JEQlJzY1RPdER3cmVDSGExUm8zRWky
	UzFhUWZnalFYQmhiMXhidkZPOWc0QlAKaTQ2WmZkUHpoQmhaTi8ycVRYR09Hb3RLQnpz
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVXRES2dM
	VmdOMU9HSzZzK1pTRVdHazRsV1BRUXdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUURYS1lISTZFWHBtTFdUY3ZFcXlKdEJJKzVzMlJBLzh0
	RGdPTTRMRnlXRVIyN1IKbmN4VWQyY0cxY05sLzYwREllaktLaWI1empXK2RKZHQwVnhB
	ODVGMHRJY2FXR3FGZzlnT2RRazV4R09vK093MQpoZ2gzV2dhUU03c0dGUEw3TFQ3NXFO
	Z04wbVFublNCTlBDT3pTcndMc3E5MDF5SytLOXFOY2J3bVlFNXZBeVlHClppWmtMQ25M
	MW1QTkJRVVNsbkpnd0xGM1pCK0hLQzYyeEVjd1hVci9WY3A2RkVlTndNdGZIaGthUjNv
	SE9sY1IKbExXQUxwWFBjVTdUZ1BIZHc0ajhKS0FXczQzeEZpL2ZMVUZFblRkMnIxZlJx
	eHJuNWJTQ2NWRG1VS0ttWE9sQQpwdGlFMDhBWUpFa09CL25LRDlSNkpFUkdHVmR1b2Uw
	Rkk1elRwUzdECi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>HostPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2d0lCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktrd2dnU2xBZ0VBQW9JQkFRRFNaQjBEcGRNV1NUeXMKSlk2MzM1SGN4
	YUpUaXBtaE1LZnNWMFEweFJONjdQMVdDMmE3OFBqNEI3cVJGa3NlSmc3RW0vb0hIbE1V
	S0lmdgpUNzVlemp2OGcrblhGRE01VnVRN2pBVEtFell6VUdkMDdoVXNxZittL2xnT3Iz
	emtOR000dUxiYWozVkdwUlJTCkFGR3FEV0tHN21Xdm5vb0ZkampLVFVCVUZMTzlBam1F
	VkF2Ukk3WTlBYlZLWEJzOGx1a3hWZU11NGRDTzBNRDYKYmlMdk16N3NKbElUTmlZK3gv
	RTM0NmtNUVhlUU5WRkRNd1hyMEJBeklFZUFjZzJHMUZwTDgzOXR5TFM5Si9TZAoxazc1
	M3lSRm5kc0pTSXFxb3NSeGIxZVpWOUxEWDhUWXRsTW1iUGx2dndvd055Ym5RVmtqRDVi
	VzJYajRWTEJqCnRNZXpwNVc1QWdNQkFBRUNnZ0VCQUxPdytlN3hwRlkyZXZGMHFtNTFM
	cmxtdXZ1ck53ZXE3T0U0cjNKNmwrYTMKbnEvczBQUFlIbXlJL1ZtSnR1S3JFcFh0dWlC
	MlQvSzVvMUJMeFlabmttaGJxazhlVzVtdmt3TWcxYjVacGtNeApld3N0aFR3K2ZiRjlM
	bXhzaWJqRzNhL0dZN1pNTEpnSHlsRTNJSWlqSWZHb2o0VHRYV2pJemp4S3VwU1ZrZVh0
	CkFlb2E3T1AvSjU5Zk5ZVFZqem01M1UwRDNOMlM1aVhFcys0S09YaWJDNEFneitFMVY1
	QmJsL2VhOUtENVo2bTgKRE1RZjNOVXhRMDNPS0YxTVZsY1hLbXphWlFsQVNLdDFFcWRh
	UmR0Y1d5WVcvakY5MlQ5MGVsWjgvU0U3ck1XYwp4ZmVPUlFCeDdCa3JFbFFQNjJoY0Yr
	S05UaTJRQWFPWXN6bjVscUlEMzlrQ2dZRUE3b05oUlowSWh1akZZQnErCjFRUnNULzVV
	TTl0WElDNlRhZ2I0dGtIWW43a3FhZEJacXlPclhMMm1IeFIwNWhreThhcTRMVGVpNEdC
	cGlUWDUKU3lmZnMrR0Q0SGt1eHVkSFpxbmhaKzAwMmpCMnErOWhzYXh6eEk3M3N1SHNj
	SFVmV3cyd0YzVmhPQ0lZaUdkRgpXeUhRa0JuVWk3ZFRHZzkrNFpIemg1Z1FHdHNDZ1lF
	QTRkRHB2ZElSUEF6ZHZRMFk3d2hRR3lPVVNUcWJtbTNSCnRRSGRXeXpLQVhPMUhpZmox
	enltRmtCS0RSVTNUWWlFcE9sZFpjaXZFc3RoWFF6dm1aK0pWcVRQSUZmRy9QQkMKTXdk
	ZktLNStxaDIwZUFkZzhKWWk5Q21yNXc4MXJtd0hDMmNRVDR2elAxMGM0Y2RUQ0RraXF2
	d2daUVJVWjF6KwpJanFNcmVKTkUvc0NnWUVBaGV6UmJxUTVTSDlsYkl3NEFTWmxweGtZ
	c0xHRm4zVm5vczVkVXdGd0lHZDVjRWJrClFwdFp1azVtKythaHFSNFhJK21IVnlSNVdX
	SHBnSGtGRFBWTHdCWnQxVnBXTUt0bXhUZTRjSUdaL3JYZHZMZEMKZE9CdmRMd09TNnhk
	OWR0ZUN1T0pyL0poNzRIOW9vSFNTTlNZNW9FS2ZwVW1uV2g4Qnk3THZxUmN6cWNDZ1lB
	UwpjT1VsdzBuMUJYZjJRR09RNGJUcEFuYlJwQitnOU9ielNUdXlmbTNnd0hwQ0JDL3ZH
	OXpVWkZ1bnhkdkdVU2ZECjcrcllyUkxmRGd6ZGRIajhxcktraU1FQmV5bWM3bUg1bU5p
	RWtmdDJHUWJyNW01Y04yYVRXZlBYNHI0WGlHcnEKMjNmUmh6Uk9NR1J6YTd1MEtEWlVr
	RkowN1cyWEkxajlvcHBxZU5paWtRS0JnUUNKYlNXSTFqOEtTWE5aMHdIRQpEUVdyNjg4
	aGhuVHVLWTV5aGNGK2NJMTBVamtNdzU4K25jU3FicFBCY3FhUm94Rzc0Y0hiZFdKVzV1
	RDgvRHNlCmxtZ05RUk95ODJheDFUbnFtZjJoMmxCb0tubDk1Y3NuL1pZblBhYk91Snkw
	eVVQYXl3MWo3bytzZEozMTFJQjgKUFZWYlQvbFQ2aklGQWF2WXg4dVJqRU9JTVE9PQot
	LS0tLUVORCBQUklWQVRFIEtFWS0tLS0tCg==
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNtekNDQVlPZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSXpNRFl4TnpFMU5USTEKTVZvWERUTXpN
	RFl4TkRFMU5USTFNVm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQU5Ka0hRT2wweFpKUEt3bGpyZmZrZHpGb2xPS21hRXdwK3hYUkRURkUz
	cnMvVllMWnJ2dytQZ0h1cEVXClN4NG1Ec1NiK2djZVV4UW9oKzlQdmw3T08veUQ2ZGNV
	TXpsVzVEdU1CTW9UTmpOUVozVHVGU3lwLzZiK1dBNnYKZk9RMFl6aTR0dHFQZFVhbEZG
	SUFVYW9OWW9idVphK2VpZ1YyT01wTlFGUVVzNzBDT1lSVUM5RWp0ajBCdFVwYwpHenlX
	NlRGVjR5N2gwSTdRd1BwdUl1OHpQdXdtVWhNMkpqN0g4VGZqcVF4QmQ1QTFVVU16QmV2
	UUVETWdSNEJ5CkRZYlVXa3Z6ZjIzSXRMMG45SjNXVHZuZkpFV2Qyd2xJaXFxaXhIRnZW
	NWxYMHNOZnhOaTJVeVpzK1crL0NqQTMKSnVkQldTTVBsdGJaZVBoVXNHTzB4N09ubGJr
	Q0F3RUFBYU1nTUI0d0RBWURWUjBUQVFIL0JBSXdBREFPQmdOVgpIUThCQWY4RUJBTUNC
	YUF3RFFZSktvWklodmNOQVFFRkJRQURnZ0VCQUNCb2VHd3h4eVhtMDBseEpUU090NUxa
	CkNIQzRYV3AyNUxucjV5a1hheVNEc2NRR09maGZZWVZYRXo2V3dlNTJ0bnV1RVRlSnBL
	U0IrMGdtdkFKMUlKU04KYW9YbUhUS25JTCt4cFQ0c3h6M0o5VHY5LzJwV0hVMFBaaWdI
	WWhVSWFmT2NSMXgwQ0NJTTNLSjRNSzZNV2NoVwpiVUhJQkZiV01ZbnIxUWxtS0tFOXlN
	T085aXVkQXhoZUpQTFhPTmM0N0lXbGxPT2d6bXh5N3hvOGhxZHUxdnIyClFpTGRjZ0VT
	Y2t6TDRaOVVJcWpwVGFTNWtvdnZ5bStCbDdsM0hTM1pKaU5zclhhTmdNTU5GdVF0bUVD
	NmhLUDQKNDVRaU1nc1lsczRjenVmRUEvVEw0Ym1jRGlyQy9meUh2dDRTcnZ5LzRXZHNs
	YkVzanplWmhERkE1TEdRbGk0PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
	</data>
	<key>RootPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktnd2dnU2tBZ0VBQW9JQkFRRFhvZ2MwZlhpUVJvZksKZlE5MEE1Vmlz
	cnFQK1doSWhocFAyUnpTK29ibWZxQWFuTW55TUN3K2NkZnVPc0JDY3JiOHA4TEo2SUoy
	MW5ZaQo2dnVPZzk0R3pjL1R6QTcxSGtlOE5TajU1K1ZRc1B6UkRqZGd0dTRDSVVlVHBs
	VnFBKzd5aEVBQVU2Yzc3NnhKCk1aWkR2WmtXQnczVE5vSHFDOXg2bDM4Y1FWUm1qalVy
	M3RQbGpWUHREWVE5QzBEWXptZDRrK2d3ZVozekVWT28KVHBubFlOZ1g4U1FkeFRnMkdE
	MUNhMnU0SEV1YWlGU2tBWVFoaEY0K1JVdTZ6MVdmZjIvYjFOcE5WS2FMYllNawpRLzJH
	RzFlZnUxbFovWkVBV2FPbk8vNTdGb3dPRXhFWDUxcSs2OUk3OFM2eWl1cC81R1MrKy9T
	aE8vMHgzamlICklpL2tiSkROQWdNQkFBRUNnZ0VBSkx4UTErdHNSOEFNVUQzZ0RSYXpN
	MzVaZEQrOE9XYkhRc1V0T1BBL1hUTkQKV1dWT3Jqand3SzZxWjhhUWpJRjRsVENMYWRS
	M3JZRTUzUmNGUmpGRytRZkZHVU1SWlVjRVY1Y0M1UmhSbzk2VApJNVoxYnIrYmFyZDZ0
	emZHSTJxS0lielFIbjRoNW44ZGJkYkp6NzZVUHdGeXBJSUx2ZkRKWGdWRFBYQVB6ZXlw
	CjV0MEJSSjRkcktKTUoyQ1U3SjFLY2p3bEhIMWRmU2l2SVJOQzhLTXVvT1Y1bFBnSHJR
	c1l4dnhLZWxYSUpRUUYKUlBNamtGY2hZRWpJd2ZuSmtTSWJUeHdiMm54NTJhTy9MYmRC
	L0FXSmNPK1E1ZG96dHpmSHRRNlpibVg1M3EvRwpTcXIwVE9nMG9tQ0ZNVHd3NkRtNDlE
	Vkd4RHlQWFpWK09XdS81WFhyTFFLQmdRRCt6anNyTUhNNXN1RGxsQkY0CmFzakZsbjBp
	QmNXQ0cxT0FVMzdyenowQ1I4TTl3VGZFUXl3ZEFDZzhsZDNkd2MwdU1jbzJGbXZUU0VU
	VDlUaHgKQ1RpNVFwNWxPak5jWVpod1F5TVRoWlkzTEFSVTlmTVBla3c1R09Vd2loVElM
	cjEwWDNuUzdQSlFkTWVGTC9LLwpVT0tLc29DUGJuUUZVTUVqMytVajI4eGxVd0tCZ1FE
	WXBNb2JpeUlxckVURXhuSDkzMDdwVVRZV1BoY2pnd25mCnJDazNkSWozMEpieTJQa2Nu
	SWdwRzRMZW82dkQrTWdmRUZMYWZvRGw5TER6S0QxU0V1YldmTXRibGxJd2FXWnkKVEdj
	RHB5ZVJFVUl0QXRJV2pScGxTVDlpQ2VBVG1vS2xGRXhDOTkxRTZWNTBRSXo1NW14VU53
	aFcxVXIrRnZvQgpCemdRYm1OTlh3S0JnUURIcEtTZGlWK3V4S1lMbTBFNC9Vb0Q3bzVx
	MnVUT3RVUnVsbjBxbS95c1RiZi9LZVhjCjQ5aXJmRlVLYTA0a0UxWUZMTVBJTHpjYW0x
	UTZVcmQvY1g4OVFLSkVwQjViOHFmeXhkZTAwd1ZJZ3pkOXJodGMKZERGR3gyZkQ2Vnl4
	SUZZVzJUdmxkUHZDNkV6djRRcXN0ZDVhVjlQOURjamY1VTcvSWMweWxHUUl1d0tCZ0Z4
	VwpXR0pHK2dnUUpydHNEWmYwUHZFSkVUR0h3MXI2ZGhIa2tpaTF2YzlLRTV4c1NEa2Vx
	cFpDeUpQV1ZOYVJTZEtiCnBZVEZHSEZxeXFUSkNPSGJkcElDM0xZcnF0cEJnazNETE1F
	TTFMdHJETGFjbGlqUWVXaWtRS1NycXRzUUp4RHYKUnRYZ1NXb2V3WWh4SHVWQWhmbWEv
	eTNyZVN3MVpOZGRXVkwvaWNtbkFvR0JBT3RrRUsyK0ludUJXbWY1TzVvTQpUR01Bd3pj
	V2o0L2doL2R5b2o3cHhlRXdLZWFXdTMzMmJYWmR5MEJiejFHVHhPbTlzTmh0RDVyZGR0
	eE5xb09HCklRV1RjUUlzZjJUQnlxUExWQlB2RHhwN1JFTjM2bzBTWmRYL0hEUmhkazM5
	dWw0SVZsdENDLzZYMjlaamlkRDYKamF3aU1mWjVLLzNwWlRCc3d5L0lFRHBXCi0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNqakNDQVhhZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSXpNRFl4TnpFMU5USTEKTVZvWERUTXpN
	RFl4TkRFMU5USTFNVm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQU5laUJ6UjllSkJHaDhwOUQzUURsV0t5dW8vNWFFaUdHay9aSE5MNmh1
	WitvQnFjeWZJd0xENXgxKzQ2CndFSnl0dnlud3Nub2duYldkaUxxKzQ2RDNnYk56OVBN
	RHZVZVI3dzFLUG5uNVZDdy9ORU9OMkMyN2dJaFI1T20KVldvRDd2S0VRQUJUcHp2dnJF
	a3hsa085bVJZSERkTTJnZW9MM0hxWGZ4eEJWR2FPTlN2ZTArV05VKzBOaEQwTApRTmpP
	WjNpVDZEQjVuZk1SVTZoT21lVmcyQmZ4SkIzRk9EWVlQVUpyYTdnY1M1cUlWS1FCaENH
	RVhqNUZTN3JQClZaOS9iOXZVMmsxVXBvdHRneVJEL1lZYlY1KzdXVm45a1FCWm82Yzcv
	bnNXakE0VEVSZm5XcjdyMGp2eExyS0sKNm4va1pMNzc5S0U3L1RIZU9JY2lMK1Jza00w
	Q0F3RUFBYU1UTUJFd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBTgpCZ2txaGtpRzl3MEJB
	UVVGQUFPQ0FRRUFFYjhjS01TU1k2RHdUOTZnVnVmVHhuWS85QVRma01WNHB6VXorY2dy
	ClhNdzhZTXlOeERmdjZVQjhNZXdIdDNLUUVlbVhTcE5qdXFDOWNaRlVFY0E3eVU1RVlv
	YzZRNyswN0VRMytYVTEKTTA2VGVvUGpPcS9odENqSWxnN01rWm5mS3Jpb0pRVVVPUDFn
	SURwMHROYjBPbVZZR3VNMnBiTTYrK21OU1NUVAoySUFlNjkvcFArdUpUNy8xQUllV3U4
	WkE4NGVxcEdZREpVQStmTVRNMmlTdkE5L25pdFBzZ0RZQ1UvU01DNThnCk5EbFhxU05j
	MGpUcHNNRWtvQTdVR2lTdGQwRm44MWxFdEk2NlAwcWxrUVVWdDRUMi84VnEzS0U2Ukcz
	eWwxS0QKaHFmOEZsVGVMM3FZUjhLb0xGS3VzaWpXVVhkYWhYeDlVUmlRdHRVK0gzd2V5
	Zz09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>SystemBUID</key>
	<string>31037841108617156571746932</string>
	<key>HostID</key>
	<string>07EFE13A-1A45-6A99-F983-95C5C15C2001</string>
	<key>EscrowBag</key>
	<data>
	ZI57iE1vmQltQ1rB322l49NYBLB0wD5RTRd3+dToKQ8=
	</data>
	<key>WiFiMACAddress</key>
	<string>b4:fa:48:90:e8:52</string>
	<key>UDID</key>
	<string>00008030-001E39113451402E</string>
</dict>
</plist>
